@using DevExtreme.AspNet.Mvc
@using DevExtreme.AspNet.Mvc.Builders
@using ISNPSWeb.Models.ProfileInfo

@model ChangePassword_DTO
@{
    ViewData["Title"] = "ChangePassword";
}

<script src="~/js/Pages/ProfileInfo/change.js" asp-append-version="true"></script>
<script src="~/js/Pages/Account/Authorize/changePasswordMode.js" asp-append-version="true"></script>
<form name="changePassword" asp-controller="ProfileInfo" asp-action="ChangePassword" mehod="POST" autocomplete="off">
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
                <div>
                    @(Html.DevExtreme().TextBoxFor(m => m.OldPassword).Mode(TextBoxMode.Password).LabelMode(EditorLabelMode.Static).ID("OldPassword").Label(Localization.OldPassword).Name("OldPassword").Buttons(buttons =>
                        {
                            buttons.Add()
                            .Name("passwordBtn_OldPassword")
                            .Location(TextEditorButtonLocation.After)
                            .Widget(w => w.Button()
                            .ID("passwordButton_OldPassword")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Text)
                            .Icon("fa fa-eye")
                            .OnClick("changePasswordMode_OldPassword"));
                        }))
                </div>
        </div>
        <div class="col-md-4">
                <div>
                    @(Html.DevExtreme().TextBoxFor(m => m.NewPassword).Mode(TextBoxMode.Password).LabelMode(EditorLabelMode.Static).ID("NewPassword").Label(Localization.NewPassword).Name("NewPassword")
                        .Buttons(buttons =>
                        {
                            buttons.Add()
                            .Name("passwordBtn_NewPassword")
                            .Location(TextEditorButtonLocation.After)
                            .Widget(w => w.Button()
                            .ID("passwordButton_NewPassword")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Text)
                            .Icon("fa fa-eye")
                            .OnClick("changePasswordMode_NewPassword"));
                        }))
                </div>
        </div>
        <div class="col-md-4">
                <div>
                    @(Html.DevExtreme().TextBoxFor(m => m.ConfirmPassword).Mode(TextBoxMode.Password).LabelMode(EditorLabelMode.Static).ID("ConfirmPassword").Label(Localization.ConfirmPassword).Name("ConfirmPassword").Buttons(buttons =>
                        {
                            buttons.Add()
                            .Name("passwordBtn_ConfirmPassword")
                            .Location(TextEditorButtonLocation.After)
                            .Widget(w => w.Button()
                            .ID("passwordButton_ConfirmPassword")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Text)
                            .Icon("fa fa-eye")
                            .OnClick("changePasswordMode_ConfirmPassword"));
                        }))
                </div>
        </div>
        </div>   
        <div class="modal-footer">
            @(Html.DevExtreme().Button().Type(ButtonType.Success).ID("savePassword").Text(Localization.Save).OnClick("onSubmitClick"))
    </div>
    </div>
</form>