<meta charset="utf-8" />
<title>NPS Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/is-logo-pic.png" asp-append-version="true">