<style asp-append-version="true">
    .topMargin{
        margin-top: 3.33%;
    }
</style>

<div class="position-fixed bottom-0 end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastPrimary" class="toast text-white bg-primary hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="primaryLabel"></span>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastSecondary" class="toast text-white bg-secondary hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="labelSecondary"></span>
        </div>
    </div>
</div>

<div class="position-fixed topMargin end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastSuccess" class="toast text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <i class="fa fa-thin fa-check"></i> <span id="labelSuccess"></span>
        </div>
    </div>
</div>

<div class="position-fixed topMargin end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastDanger" class="toast text-white bg-danger hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="labelDanger"></span>
        </div>
    </div>
</div>

<div class="position-fixed topMargin end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastWarning" class="toast text-white bg-warning hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="labelWarning"></span>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastInfo" class="toast bg-info hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="labelInfo"></span>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastLight" class="toast bg-light hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="labelLight"></span>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3"@* style="z-index: 1060"*@>
    <div id="toastDark" class="toast text-white bg-light hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <span id="labelDark"></span>
        </div>
    </div>
</div>
