<div class="" name="Border-Spinners">
    <div class="spinner-border text-primary" role="status" style="height:3rem;width:3rem;">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-secondary" role="status" style="height:3rem;width:3rem;">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-success" role="status" style="height:3rem;width:3rem;">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status" style="height:3rem;width:3rem;">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-warning" role="status" style="height:3rem;width:3rem;">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-border text-info" role="status" style="height:3rem;width:3rem;">
        <span class="sr-only">Loading...</span>
    </div>
</div>