
.first-group,
.second-group {
    padding: 20px;
}

.second-group {
    background-color: rgba(191, 191, 191, 0.15);
}

.form-avatar {
    max-height: 150px;
    max-width: 340px;
    margin-right: 10px;
    /* border: 1px solid #d2d3d5;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#dropzone-external {
    width: 350px;
    height: 125px;
    background-color: rgba(183, 183, 183, 0.1);
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
    max-height: 150px;
}

    #dropzone-external > * {
        pointer-events: none;
    }

    #dropzone-external.dropzone-active {
        border-style: solid;
    }

.widget-container > span {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}

#dropzone-image {
    max-width: 100%;
    max-height: 100%;
}

#dropzone-text > span {
    font-weight: 100;
    opacity: 0.5;
}

#upload-progress {
    display: flex;
    margin-top: 10px;
}

.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hiddenInput {
    display: none;
}

.text-ellipsis--6 {
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.message-text {
    font-weight: 300;
    line-height: 1.2;
}

.noData {
    background-image: url(../../../assets/images/noData.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.noDocumentation {
    background-image: url(../../../assets/images/noDocumentation.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width:991px) {
    #parametersSettingItem.noData {
        background-image: url(../../../assets/images/noData.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 300px;
    }
}

#companyManage.dx-button-has-icon .dx-icon {
    font-size: 50px;
    width: 50px;
    border-radius: 50%;
}

.image-area {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

    .image-area img {
        max-width: 100%;
        height: auto;
    }

.remove-image {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 2px 6px 3px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    border: 3px solid #fff;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

    .remove-image:hover {
        background: #FFF;
        padding: 3px 7px 5px;
        top: -11px;
        right: -11px;
        border: 3px solid #555;
        color: #555 !important;
    }

    .remove-image:active {
        background: #FFF;
        top: -10px;
        right: -11px;
    }


.hiddenDiv {
    visibility: hidden;
}

.note {
    font-size: 10pt;
    color: #484848;
    margin-left: 9px;
}

    .note > span {
        font-weight: 700
    }

/*Start Documentation*/
.sizeCardDocumentation {
    height: calc(100vh - 233px) !important;
}

@media (max-width:768px) {
    .sizeCardDocumentation {
        height: calc(100vh + 100%) !important;
    }
}

#descriptionDocument {
    max-height: 100%;
    height: calc(100vh - 370px) !important;
}

@media (max-width:900px) {
    #descriptionDocument {
        height: calc(100vh - 365px) !important;
    }
}

@media (max-width:768px) {
    #descriptionDocument {
        height: calc(100vh + 100%) !important;
    }
}

#treeViewDocumentationItem {
    max-height: 100%;
    height: calc(100vh - 300px) !important;
}

@media (max-width:900px) {
    #treeViewDocumentationItem {
        height: calc(100vh - 300px) !important;
    }
}

@media (max-width:768px) {
    #treeViewDocumentationItem {
        height: calc(100vh - 535px) !important;
    }
}

@media (max-width:375px) {
    #treeViewDocumentationItem {
        height: calc(100vh - 360px) !important;
    }
}

#nameDocumentation > .name {
    margin-left: 0px;
    font-size: 25px;
}

@media (max-width:900px) {
    #nameDocumentation > .name {
        margin-left: 0px;
        font-size: 20px;
    }
}

@media (max-width:768px) {

    #contentDocumentation {
        width: 100%;
    }

    #contentTreeView {
        width: 100%;
    }
}

@media (max-width:498px) {
    #addDocumentationItem {
        width: 100%;
        margin-bottom: 3px;
    }

    #editDocumentationItem {
        width: 59%;
    }

    #deleteDocumentationItem {
        width: 40%;
    }
}

@media (max-width:1533px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58.9%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:1265px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58.5%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:1019px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:995px) {
    #cancelDocumentation {
        width: auto;
    }

    #saveDocumentation {
        width: auto;
    }

    #saveAsDraft {
        width: auto;
        margin-top: 0;
    }
}

@media (max-width:485px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58.9%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:426px) {
    #addDocumentationItem {
        width: 100%;
        margin-bottom: 3px;
    }

    #editDocumentationItem {
        width: 58.9%;
    }

    #deleteDocumentationItem {
        width: 40%;
    }
}

@media (max-width:410px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58.7%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:395px) {
    #addDocumentationItem {
        width: 100%;
        margin-bottom: 3px;
    }

    #editDocumentationItem {
        width: 100%;
        margin-bottom: 3px;
    }

    #deleteDocumentationItem {
        width: 100%;
    }
}

@media (max-width:378px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58.6%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:332px) {
    #cancelDocumentation {
        width: 40%;
    }

    #saveDocumentation {
        width: 58.4%;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

@media (max-width:313px) {
    #cancelDocumentation {
        width: 100%;
    }

    #saveDocumentation {
        width: 100%;
        margin-top: 3px;
    }

    #saveAsDraft {
        width: 100%;
        margin-top: 3px;
    }
}

#editorDescription {
    height: calc(100vh - 315px) !important;
}

.sizeCardEditor {
    height: calc(100vh - 197px) !important;
}

@media (max-width:1533px) {
    #editorDescription {
        height: calc(100vh - 345px) !important;
    }
}

@media (max-width:768px) {
    .sizeCardEditor {
        height: calc(100vh + 100%) !important;
    }

    #editorDescription {
        height: calc(100vh + 200px) !important;
    }
}
/*End Documentation*/

/*Start Template*/
.sizeCardTemplate {
    height: calc(100vh - 197px) !important;
}

#templateEN {
    height: calc(100vh - 330px) !important;
}

#templateRO {
    height: calc(100vh - 330px) !important;
}

#templateRU {
    height: calc(100vh - 330px) !important;
}

@media (max-width:768px) {
    .sizeCardTemplate {
        height: calc(100vh + 100%) !important;
    }

    #metaDataTemplate {
        margin-top: 10px;
    }
}
/*End Template*/

/*Start Ticket*/
.titleImgTicket {
    width: 94px;
    word-wrap: break-word;
    display: inline-block;
    margin-left: 10px;
}

.popupImgSize {
    margin-left: 15px;
    float: left;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

@media (max-width:550px) {
    .popupImgSize {
        width: 50px;
        height: 50px;
    }

    .titleImgTicket {
        width: 60px;
    }

    .titleTicket {
        font-size: 100%;
    }

    .datetimeTicket {
        font-size: 80%;
    }

    .replayAuthotTicket {
        font-size: 75%;
    }

    .replayDatetimeTicket {
        font-size: 75%;
    }
}
/*End Ticket*/

/*Start Fiscal receipt*/
.receipt {
    width: 390px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.contentReceipt {
    width: 356px;
    padding: 1rem 1rem;
    align-self: center
}

@media (max-width: 1400px) {
    .receipt {
        width: 100%
    }

    .contentReceipt {
        width: 90%;
        font-size: 85%;
    }
}

@media (max-width: 1450px) {
    .receipt {
        width: 100%
    }

    .contentReceipt {
        width: 90%;
        font-size: 80%;
    }
}

@media (max-width: 1300px) {
    .receipt {
        width: 100%
    }

    .contentReceipt {
        width: 90%;
        font-size: 75%;
    }
}

@media (max-width: 992px) {
    .receipt {
        width: 390px
    }

    .contentReceipt {
        width: 356px;
        font-size: 100%;
    }
}

@media (max-width: 490px) {
    .receipt {
        width: 100%;
    }

    .contentReceipt {
        width: 95%;
        font-size: 100%;
    }
}
/*End Fiscal receipt*/


/*Start Question_List*/

[id^="Question_root_"] {
    margin-right: 30px;
    margin-bottom: 12px;
    flex-grow: 1;
}

[id^="Index_Question_value_"] {
    margin-bottom: 0px;
    margin-top: 0px;
}

[id^="Col_Index_Question_value_"] {
    text-align: left;
}

.tasks__list {
    padding-left: 0rem;
}

.tasks__item {
    list-style-type: none;
    margin-bottom: 10px;
    padding-left: 40px;
    background-image: url('/assets/images/drag_and_drop.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-top: 7px;
    background-size: 15px;
    background-position: left 6px top 15px;
}


@media only screen and (max-width: 499px) {
    .tasks__item {
        background-size: 13px;
        background-position: left 3px top 21px;
    }
}

@media only screen and (max-width: 400px) {
    .tasks__item {
        background-size: 12px;
        background-position: left 4px top 20px;
    }
}


    .other-element {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        background-color: orange;
        border: 2px solid red;
    }

 
    .flex-container {
        margin-left: 1%;
        margin-top: 11px;
        gap: 1%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-item {
        flex: 1 1 auto;
     
    }

    .flex-item {
        flex: 1;
    }

    .spacer-box {
        flex-grow: 1;
    }

    .Col_Button_Delet {
        margin-left: auto !important;
        text-align-last: end;
        margin-right: 0%;
    }

    /*.tasks__item {*/
        /*transition: transform 0.2s ease, box-shadow 0.2s ease, border-radius 0.2s ease, background-color 0.2s ease;*/
        /*border-radius: 8px;
        border: 2px solid transparent;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .tasks__item.selected {*/
           /* transform: scale(1.03);*/
            /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-color: #007bff;*/
            /*transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;*/
        /*}

        .tasks__item:hover {
            background-color: rgba(0, 123, 255, 0.3);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);*/
            /*transition: background-color 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;*/
        /*}

        .tasks__item.dragover {
            border-color: #007bff;*/
            /*transition: border-color 0.2s ease;*/
        /*}*/

    h3 {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    /*End Question_List*/

    @media (max-width: 767.98px) {
        .col-6-custom_1 {
            flex: 0 0 50%;
            max-width: 50%;
        }

        .col-6-custom_2 {
            flex: 0 0 50%;
            max-width: 50%;
            text-align: end;
        }
    }

    @media (max-width: 810px) {
        .main-content {
            margin-left: 0px;
            overflow: hidden;
        }
    }

    .center_logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    .modal-footer {
        padding: 0;
        padding-top: 5px;
        margin-right: -5px;
    }


    .circle-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background-color: #B1BDC5;
    }

    .text-inside {
        text-align: center;
        color: #FCFCFD;
        font-size: 1.3em;
        font-weight: bold;
    }

    .dx-toolbar-menu-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }

    .dx-toolbar-menu-action {
        width: 10%;
    }

    .dx-toolbar-menu-section .dx-toolbar-hidden-button .dx-button-content, .dx-toolbar-menu-section .dx-toolbar-hidden-button-group .dx-button-content {
        padding: 10px 10px 10px 13px
    }

    .dx-datagrid-search-panel {
        margin: 0 0 0 0px;
    }

    .dx-list-item {
        width: auto;
    }

    @media (max-width: 500px) {
        .card-body {
            padding: 1rem 1rem;
        }

        .page-title-box {
            padding-bottom: 0px;
        }
    }

    @media only screen and (max-width: 647px) {
        body.sidebar-enable.vertical-collpsed .logo-sm {
            margin-left: -40px;
        }
    }

    @media only screen and (min-width: 647px) and (max-width: 991 px) {
        body.sidebar-enable.vertical-collpsed .logo-sm {
            margin-left: -50px;
        }
    }

    @media only screen and (min-width: 992 px) {
        body.sidebar-enable.vertical-collpsed .logo-sm {
            margin-left: -50px;
        }
    }

    @media only screen and (max-width: 992 px) {
        body.sidebar-enable.vertical-collpsed .logo-sm {
            margin-left: -45px;
        }
    }

    body.vertical-collpsed .logo-image {
        margin-left: -45px;
    }

    @media only screen and (max-width: 450px) {
        .logo-image img {
            width: 90px;
        }
    }

    .modal {
        overflow-y: auto;
    }


    .navbar-brand-box {
        background-image: url(/assets/images/intelectsoft/logo/IS-small-green.svg);
        background-repeat: no-repeat;
        background-position: -14px 0px;
        background-size: cover;
    }

    @media only screen and (max-width: 374px) {
        body .navbar-brand-box {
            background-position: 0px 0px;
        }
    }

    @media only screen and (max-width: 992px) {
        .simplebar-content-wrapper {
            margin-top: 0px
        }

        .vertical-collpsed .vertical-menu .simplebar-content-wrapper, .vertical-collpsed .vertical-menu .simplebar-mask {
            margin-top: 0px
        }
    }

    body .sidebar-enable body:not(.vertical-collpsed) .spacer-box-navbar {
        height: 10px;
        width: 80px;
    }




    @media only screen and (max-width: 374px) {
        .flex-logo {
            margin-left: 0%;
        }
    }

    .spacer-box-navbar {
        width: 0px;
    }

    .navbar-brand-box {
        height: 70px;
        background-position: -16px 0px;
    }

    @media only screen and (min-width: 993px) {
        body.vertical-collapsed .navbar-brand-box {
            background-image: url("/assets/images/intelectsoft/logo/IS-small-green.svg");
            width: 90px !important;
        }

        body.sidebar-enable .navbar-brand-box {
            background-image: url("/assets/images/intelectsoft/logo/IS-long-green.svg");
            background-position: 4px -18px;
            width: 160px !important;
        }
    }

    @media only screen and (min-width: 616px) and (max-width: 992px) {
        .navbar-brand-box {
            background-image: url("/assets/images/intelectsoft/logo/IS-small-green.svg");
            width: 70px !important;
        }
    }

    @media only screen and (max-width: 615px) {
        body:not(.sidebar-enable):not(.vertical-collapsed) .navbar-brand-box {
            background-image: url("/assets/images/intelectsoft/logo/IS-small-green.svg");
            width: 70px !important;
        }

        body.sidebar-enable .navbar-brand-box {
            width: 70px !important;
            height: 70px;
        }
    }

    @media only screen and (max-width: 374px) {
        .navbar-brand-box {
            margin-left: -20px;
        }
    }

    .topbar_user_company {
        margin-top: 25px;
        font-size: 16px;
        margin-left: 13px;
    }

    @media only screen and (max-width: 475px) {
        .waves-effect {
            padding: 0rem 0px 0px 0px;
        }

        .topbar_user_company {
            margin-top: 28px;
            font-size: 12px;
            width: 130px;
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            line-height: 1.2;
            text-align: center;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 10%;
            left: 43%;
        }

        .dropdown-menu.show {
            /*        margin-right: 10px;*/
        }
    }

    @media only screen and (min-width: 616px) and (max-width: 992px) {
        .topbar_user_company {
            width: 160px;
        }
    }

    @media only screen and (min-width: 993px) {
        body.sidebar-enable .topbar_user_company {
            margin-left: 50px;
        }
    }

    .dx-dropdownlist-popup-wrapper .dx-empty-message, .dx-dropdownlist-popup-wrapper .dx-list-item {
        border-top: 0;
        display: flex;
    }

    .dx-dropdownlist-popup-wrapper .dx-empty-message, .dx-dropdownlist-popup-wrapper .dx-list-item {
        border-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
@media only screen and (max-width: 500px) {
    .h3, h3 {
        font-size: 1rem;
    }
}